
@media screen and (max-width: 768px){

    body{
        background-size: 100% 450px;
    }

    /*home media query starts*/

    header .name{
        margin-right: 170px;
        font-size: 30px;
    }

    header .navbar ul li a{
        font-size: 15px;
    }

    .logo img{
        width: 30px;
        height: 30px;
    }

    .bookbtn{
        font-size: 15px;
    }
    .quote{
        font-size: 30px;
        margin-left: 45px;
    }

    .moon-bg img{
        width: 250px;
        height: 265px;
    }

    .astronaut-bg img{
        width: 70%;
        height: 70%;
        margin-left: 210px;
    }

    .playingMoon{
        transform: translateX(500px);
    }

    .exploreBtn{
        font-size: 20px;
        margin-top: 50px;
        margin-bottom: 40px;
    }

    .exploreBtn img{
        width: 17%;
    }

    /*home media query ends*/

    /*destination media query starts*/

    .destination{
        margin-bottom: 70px;
    }

    .destination .destination-container .section-title{
        font-size: 40px;
        margin-left: 60px;
    }

    .image-container{
        margin-left: 40px;
    }

    .marsG,.jupiterG, .moonG{
        width: 100px;
        height: 90px;
    }

    /* moon description starts */

    .moonOverview{
        margin-top: 50px;
    }

    .moonOverview .inside{
        width: 350px;
        height: 100px;
        margin-left: 30px;
    }

    .moonOverview h1{
        font-size: 35px;
        margin-left: 50px;
    }

    .moonOverview h2{
        font-size: 25px;
        margin-left: 50px;
        margin-bottom: 10px;
    }

    .moonOverview p{
        font-size: 15px;
    }

    .outside{
        margin-top: 40px;
    }

    .moonDescription{
        margin-left: 50px;
    }

    .moonDescription .p1, .p2{
        width: 280px;
    }

    /* moon description ends */

    /* mars description starts */
    
    .marsOverview{
        margin-top: -220px;
    }

    .marsOverview .inside{
        width: 350px;
        height: 100px;
        margin-left: 30px;
    }

    .marsOverview h1{
        font-size: 35px;
        margin-left: 50px;
    }

    .marsOverview h2{
        font-size: 25px;
        margin-left: 50px;
        margin-bottom: 10px;
    }

    .marsOverview p{
        font-size: 15px;
    }

    .outside{
        margin-top: 40px;
    }

    .marsDescription{
        margin-left: 50px;
    }

    .marsDescription .p1, .p2{
        width: 287px;
    }

    /* mars description ends */

    /* jupiter description starts */
    
    .jupiterOverview{
        margin-top: -250px;
    }

    .jupiterOverview .inside{
        width: 350px;
        height: 100px;
        margin-left: 20px;
    }

    .jupiterOverview h1{
        font-size: 35px;
        margin-left: 60px;
    }

    .jupiterOverview h2{
        font-size: 25px;
        margin-left: 60px;
        margin-bottom: 10px;
    }

    .jupiterOverview p{
        font-size: 15px;
    }

    .outside{
        margin-top: 40px;
    }

    .jupiterDescription{
        margin-left: 50px;
    }

    .jupiterDescription .p1, .p2{
        width: 280px;
    }

    /* jupiter description ends */

    /*destination media query ends*/

    /* activity css starts */

    .activity .section-title{
        font-size: 40px;
        margin-left: 240px;
        padding-top: 50px;
    }

    .activities-overview-1, .activities-overview-2{
        margin-left: 0;
    }

    .activities-overview-1 .landing-tour, .galactic-arcades,.space-bar{
        margin-left: 25px;
        padding: 10px 10px;
    }
    
    .activities-overview-2 .rover-expeditions{
        margin-left: 20px;
        padding: 10px 20px;
        padding-right: 0px;
    }
    
    .activities-overview-2 .space-bar{
        padding-right: 12px;
    }
    
    .activities-overview-1 .landing-tour{
        padding-right: 12px;
    }
    
    .activities-overview-1 .galactic-arcades{
        margin-left: 20px;
        padding-right: 10px;
    }
    .activities-overview-1 h3 ,.activities-overview-2 h3{
        font-size: 18px;
        width: 175px;
    }

    .activities-overview-1 p ,.activities-overview-2 p{
        font-size: 13px;
        width: 260px;
    }

    svg{
        width: 170%;
        padding-right: 50px;
    }

    
    .btndiv{
        margin-left: 220px;
    }

    .btndiv .bookbtn, .destinationbtn {
        font-size: 15px;
        padding: 10px 20px;
    }

    .btndiv .bookbtn {
        padding-right: 55px;
        padding-left: 55px;
    }

    .btndiv .destinationbtn{
        margin-left: 20px;
    }
    /* activity css ends */

    /* gallery css starts */

    .gallery{

        height: 80vh;
    }

    .gallery .gallery-container .section-title{
        font-size: 40px;
        margin-left: 285px;
        padding-top: 35px;
    }

    .gallery .gallery-container .row{
        margin-left: 10px;
        margin-top: -20px;
        margin-bottom: 30px;
    }
 
    .column-1 img{
        width: 150px;
        margin-right: 10px;
        margin-left: 6px;
    }
    .column-2 img{
        width: 200px; height: 250px;
        margin-top: 100px;
    }
    
    .column-3 .column-3-2 img, .column-3-1 img{
        width: 148px;
        height: 148px;
        margin-left: 10px;
        margin-top: 50px;
    }
    
    .column-4-1 img {
        width: 207px;
        height: 125px;
        margin-left: 13px;
        margin-top: 27px;
    }
    
    .column-4-2 img {
        height: 125px;
        margin-left: 12px;
        margin-top: 85px;
        width: 207px;
    }

    /* gallery css ends */

    /* reviews css starts */

    .reviews .reviews-container .section-title{
        font-size: 40px;
        margin-left: 335px;
        padding-top: 40px; 
        padding-bottom: 40px;
    }

    .review-column{
        right: 10%;
        margin-top: 20px;
    }
    .review-column h3{
        font-size: 18px;
    }
    .review-column p{
        font-size: 15px;
    }
    .review-column .review-rating{
        width: 50px;
        height: 7px;
    }
    .review-column-1, .review-column-2, .review-column-3{
        padding: 7px 10px;
        padding-right: 5px;
        width: 280px;
        margin-top: 10px;
    }
    
    .review-column .row .stark,.bill-gates,.elon{
        width: 60px;
        height: 61px;
        clip-path: circle(50% at 50% 50%);
        margin-top: 11px;
    }

    .review-column-2 .stark{
        margin-right: 9px;
        width: 70px;
    }

    
    .reviews .box .slideshow img{
        width: 318px;
        height: 398px;
        margin-left: 70px;
    }

    /* reviews css ends */

    /* footer css starts */

    .foooter .row{
        margin-left: 150px;
        padding: 50px 50px;
    }

    .foooter .name{
        font-size: 60px;
        margin-top: 20px;
    }

    .foooter .logo img{
        width: 90px;
        height: 90px;
        margin-top: 10px;
    }

    /* footer css ends */
    
    /* popup css starts */
    .popup h2 {
        margin-left: 80px;
    }

    .popup{
        width: 35%;
    }

    /* popup css ends */
}

@media screen and (max-width: 426px){

    body{
        background-size: 100% 250px;
    }
    

    /*navbar media query starts*/

    .navbar {
        display: flex;
        flex-direction: column;
    }

    .toggle-button {
        display: flex;
        width: 20px;
    }

    header .name{
        margin-right: 270px;
        font-size: 30px;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: center;
    }

    .navbar-links ul li a {
        padding: .5rem 1rem;
        line-height: 24px;
    }

    .navbar-links.active {
        display: flex;
    }
    
    /*navbar media query ends*/

    /* home media query starts */

   
    .home .container{
        padding-top: 50px;
    }
    .quote {
        margin-left: 40px;
        font-size: 15px;
        padding-top: 20px;
    }

    .exploreBtn{
        font-size: 15px;
        margin-top: 20px;
        padding: 5px 5px;

    }

    .moon-bg img{
        width: 150px;
        height: 165px;
    }

    .astronaut-bg img{
        width: 60%;
        height: 60%;
        margin-left: 120px;
    }

    .playingMoon{
        transform: translateX(270px);
    }

    /* home media query ends */

    /* popup media query starts */

    .popup{
        margin-left: 100px;
        padding: 10px;
    }

    .popup h2 {

        font-size: 20px;
        margin-left: 95px;
    }

    .popup .content p{
        
        font-size: 11px;
    }

    .popup .content .social a{
        font-size: 12px;
    }

    .popup .close{
        top: 5px;
        right: 15px;
    }
   
    /* popup media query ends */

    /*destination media query starts*/

    .destination{
        padding-top: 60px;
        height: 70vh;

    }
    .destination .destination-container .section-title{
        font-size: 30px;
        margin-left: 30px;
    }

    .image-container{
        margin-left: 20px;
    }

    .marsG,.jupiterG, .moonG{
        width: 70px;
        height: 60px;
    }

    .image-container figure{
        margin-left: 5px;
    }
    
    figcaption{
        font-size: 15px;
    }

     /* moon description starts */

     .moonOverview{
        margin-top: 20px;
        margin-left: 0px;
    }

    .moonOverview .inside{
        width: 250px;
        height: 80px;
        margin-left: 10px;
    }

    .moonOverview h1{
        font-size: 25px;
        margin-top: 30px;
        margin-left: 29px;
    }

    .moonOverview h2{
        font-size: 20px;
        margin-left: 29px;
    }

    .moonOverview p{
        font-size: 12px;
    }

    .moonDescription{
        margin-left: 30px;
        flex-direction: column;
    }

    .moonDescription .p1, .p2{
        width: 292px;
    }

    .moonDescription .p2 {
        margin-left: 0;
    }

    /* moon description ends */

    /* mars description starts */

     .marsOverview{
        margin-top: -200px;
        margin-left: 0px;
    }

    .marsOverview .inside{
        width: 250px;
        height: 80px;
        margin-left: 10px;
    }

    .marsOverview h1{
        font-size: 25px;
        margin-top: 30px;
        margin-left: 29px;
    }

    .marsOverview h2{
        font-size: 20px;
        margin-left: 29px;
    }

    .marsOverview p{
        font-size: 12px;
    }

    .marsDescription{
        margin-left: 30px;
        flex-direction: column;
    }

    .marsDescription .p1, .p2{
        width: 286px;
    }

    .marsDescription .p2 {
        margin-left: 0;
    }

    /* mars description ends */


    /*destination media query ends*/


   

    
}