@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mate+SC&family=Odibee+Sans&family=Roboto+Condensed:wght@300&display=swap');

body{
    margin: 0;
    background-image: url('../images/bg.png');
    background-repeat: no-repeat;
    background-size: 100% 750px;
}

html{
    scroll-behavior: smooth;
}

*{
    box-sizing: border-box;
    margin: 0;
}

.container{
    margin: auto;
}

.row{
    display: flex;
    flex-direction: row;
}

/* header section starts */

header{
    background-color: transparent;
    position: absolute;
    padding-bottom: 93vh;
}

header .row{
    background-color: black;
    position: fixed;
    z-index: 1;
}

header .row{
    align-items: center;
}

header .name{
    margin-right: 700px;   
    position: relative; 
    font-family: 'Bebas Neue', cursive;
    font-weight: bold;
    font-size: 50px;
    color: #ffffff;
}

header .name a{
    color: #ed1c24;
}

.logo img{
    width: 50px;
    height: 50px;
    margin-left: 10px;
    padding: 3px;
    margin-top: 5px;
}

.rotate {
    animation: rotation 5s infinite linear;
}
  
@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
}

.navbar {
    display: flex;
    position: relative;
    align-items: center;
}

.brand-title{
    display: flex;
    flex-direction: row;
}

.navbar-links {
    height: 100%;
}

.navbar-links ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    display: block;
    font-size: 15px;
    text-decoration: none;
    color: white;
    padding: 1rem;
    line-height: 72px;
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
    font-weight: 300px;
    position: relative;
    padding-top: 0;
    padding-bottom: 0;
   
}

.navbar-links li .home{
    color: #ed1c24;
}

.navbar-links li a::before{
    content: '';
    height: 3px;
    background-color:#ed1c24;
    width: 0%;
    position: absolute;
    right: 0px;
    bottom: -1px;
    bottom: -1px;
}

.navbar-links li a:hover::before{
    width: 100%;
    left: 0;
}

.toggle-button {
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

.bookbtn{
    background-color: #202133;
    font-family: 'Bebas Neue', cursive;
    font-size: 15px;
    padding: 5px 20px;
    color: #efefef;
    border: 2px solid #202133;
}

.home .container{
    padding-top: 100px;
}
.quote {
    color: #ffffff;
    font-family: 'Orbitron', sans-serif;
    margin-left: 100px;
    font-size: 70px;
    padding-top: 40px;
}

.quote .back{
    color: #ed1c24;
    text-shadow: 2px 2px #ffffff;
}

.quote .and{
    font-family: 'Odibee Sans', cursive;
}

.moon-bg img{
    position: absolute;
    transition: transform 3s ease-in;
    z-index: -2;
}

.playingMoon{
    transform: translateX(1050px);
}

.astronaut-bg{
    position: absolute;
    right: 10%;
    z-index: -1;
}

.astronaut-bg img{
    margin-top: 1400px;
    transition: transform 3s ease-in;   
}

.playingAstro{
    transform: translatey(-1400px);
}

/* .playingAstroFloat{
    animation: float 12s ease-in-out infinite;
} */

@keyframes float {
	0% {
		transform: translatey(0px);
	}
    50%{
        transform: rotateZ(10deg);
    }
	100% {
		transform: translatey(0px);
	}
}

.exploreBtn {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    padding: 10px 10px;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    color: #464f69;
    margin-top: 80px;
    font-size: 30px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: lighter;
    margin-bottom: 120px;
}

.exploreBtn img{
    border-radius: 50px;
    border: 2px solid #282f42;
}

.exploreBtn:hover {
    background: #ed1c24;
    color: #ffffff;
    border: 2px solid #464f69;
    ;
}
/* header section ends */

/* Destination css starts*/

.destination{
    margin-bottom: 160px;
    padding-top: 90px;
}
.destination .destination-container .section-title{
    font-size: 60px;
    color: #ed1c24;
    font-family: 'Bebas Neue', cursive;
    text-decoration: overline;
    text-decoration-color: #ed1c24;
    margin-left: 160px;
    margin-bottom: 20px;
}

.image-container{
    margin-left: 150px;
    display: flex;
    flex-direction: row;
    z-index: 1;
}

.image-container figure{
    margin-left: 10px;
}

figcaption{
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
}

.marsG,.jupiterG, .moonG{
    width: 200px;
    height: 180px;
    cursor: pointer;
}

/*Moon Overview css starts*/

.moonOverview{
    margin-top: 100px;
}

.outside{
    color: #000000;
    font-size: 120px;
    font-family: 'Bebas Neue', cursive;
    margin-top: 140px;
    margin-left: 160px;
} 

.moonOverview .inside{
   position: absolute;
   width: 750px;
   height: 300px;
   margin-left: 40px;
   z-index: -1;
}

.moonOverview h2{
    color: #000000;
    font-size: 60px;
    font-family: 'Bebas Neue', cursive;
    margin-left: 160px;

}

.moonOverview p{
    color: #8b8b8b;
    font-size: 20px;
    font-family: 'Roboto Condensed', sans-serif;
    text-align: justify;
}

.moonDescription{
    display: flex;
    flex-direction: row;
    margin-left: 160px;
}

.moonDescription .p1,.p2{
    width: 500px;
}    

.moonDescription .p2{
    margin-left: 20px;
}

/*Moon Overview css end*/

/* Mars Overview css starts*/

.marsOverview{
    margin-top: -450px;
}

.outside{
    color: #000000;
    font-size: 80px;
    font-family: 'Bebas Neue', cursive;
    margin-top: 150px;
    margin-left: 160px;
} 

.marsOverview .inside{
   position: absolute;
   width: 770px;
   height: 300px;
   margin-left: 60px;
   z-index: -1;
}

.marsOverview h2{
    color: #000000;
    font-size: 40px;
    font-family: 'Bebas Neue', cursive;
    margin-left: 160px;

}

.marsOverview p{
    color: #8b8b8b;
    font-size: 20px;
    font-family: 'Roboto Condensed', sans-serif;
    text-align: justify;
}

.marsDescription{
    display: flex;
    flex-direction: row;
    margin-left: 160px;
}

.marsDescription .p1,.p2{
    width: 500px;
}    

.marsDescription .p2{
    margin-left: 20px;
}

/* Mars Overview css ends */

/*Jupiter Overview css starts*/

.jupiterOverview{
    margin-top: -420px;
}

.outside{
    color: #000000;
    font-size: 80px;
    font-family: 'Bebas Neue', cursive;
    margin-top: 170px;
    margin-left: 160px;
} 

.jupiterOverview .inside{
   position: absolute;
   width: 770px;
   height: 300px;
   margin-left: 60px;
   z-index: -1;
}

.jupiterOverview h2{
    color: #000000;
    font-size: 40px;
    font-family: 'Bebas Neue', cursive;
    margin-left: 160px;

}

.jupiterOverview p{
    color: #8b8b8b;
    font-size: 20px;
    font-family: 'Roboto Condensed', sans-serif;
    text-align: justify;
}

.jupiterDescription{
    display: flex;
    flex-direction: row;
    margin-left: 160px;
}

.jupiterDescription .p1,.p2{
    width: 500px;
}    

.jupiterDescription .p2{
    margin-left: 20px;
}

/*Jupiter Overview css ends*/

/* Destination css ends*/

/* activity css starts */

.activity{
    height: 100vh;
    background-image: url(../images/bg.png);
    clip-path: polygon(50% 0%, 100% 0, 100% 35%, 100% 100%, 80% 90%, 49% 100%, 20% 90%, 0 100%, 0% 35%, 0 0);
}

.activity .section-title{
    font-size: 60px;
    color: #efefef;
    font-family: 'Bebas Neue', cursive;
    text-decoration: overline;
    text-decoration-color: #ed1c24;
    margin-left: 555px;
    padding-top: 100px;  
}

#activities-destination{
    text-decoration: overline;
    text-decoration-color: #ed1c24;
}

.activities-overview-1, .activities-overview-2{
    margin: 50px 230px;
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    color: #efefef;
    /* border: 2px solid #8b8b8b; */
}

.activities-overview-1 .landing-tour, .galactic-arcades,.space-bar{
    margin-left: 115px;
    border: 2px solid #202133;
    border-radius: 20px;
    background-color: #202133;
    padding: 20px 20px;
}

.activities-overview-2 .rover-expeditions{
    margin-left: 50px;
    border: 2px solid #202133;
    border-radius: 20px;
    background-color: #202133;
    padding: 20px 20px;
    padding-right: 85px;
}

.activities-overview-2 .space-bar{
    padding-right: 12px;
}

.activities-overview-1 .landing-tour{
    padding-right: 180px;
}

.activities-overview-1 .galactic-arcades{
    margin-left: 50px;
    padding-right: 50px;
}

.activities-overview-1 h3,p ,.activities-overview-2 h3,p{
    color: #507a95;
    font-family: 'Roboto Condensed', sans-serif;
}

.landing-tour, .galactic-arcades , .rover-expeditions, .space-bar{
    display: flex;
    flex-direction: row;
}

.activities-overview-1 h3, .activities-overview-2 h3{
    color: #efefef;
    font-weight: 700;
}

svg{
    margin-right: 10px;
}

.btndiv{
    margin-left: 575px;
    font-family: 'Roboto Condensed', sans-serif;
}

.btndiv .bookbtn, .destinationbtn{
    background-color: #202133;
    font-size: 20px;
    padding: 20px 20px;
    color: #efefef;
    border: 2px solid #202133;
    border-radius: 10px;
    cursor: pointer;
}

.destinationbtn:hover{
    background: hsl(145, 95%, 44%);
}

.btndiv .bookbtn {
    padding-right: 60px;
    padding-left: 60px;
    background-color: #ed1c24;
}

.btndiv .destinationbtn{
    margin-left: 45px;
}
/* activity css ends */


/* popup css starts*/

.bookbtn{
    border: 2px solid #ed1c24;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s ease-out;
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
    font-weight: 300;
}

#book-btn{
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
}

.bookbtn:hover {
    background: #ed1c24;
}

#book-btn:hover {
    background: hsl(145, 95%, 44%);
}
  
.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}
.overlay:target {
    visibility: visible;
    opacity: 1;
}
  
.popup {
    margin: 70px auto;
    padding: 20px;
    background: #ffffff;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
}
  
.popup h2 {
    margin-top: 0;
    margin-left: 180px;
    color: #333;
    font-family: 'Bebas Neue', cursive;
    font-size: 30px;
}

.popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}

.popup .close:hover {
    color: #06D85F;
}

.popup .content {
    max-height: 30%;
    overflow: auto;
}

.popup .content p{
    color: #202133;
    font-family: 'Roboto Condensed', sans-serif;
    margin: 10px 2px;
}
.popup .content  .social{
    flex: 0 0 100%;
    max-width: 100%;
    text-align: center;
    padding-top: 10px;
}

.popup .content .social a{
    color: #202133;
    text-decoration: none;
    display: inline-block;
    margin: 0px 12px;
    padding-bottom: 0px;
}

.social a:hover{
    color: #ed1c24;
}
/* popup css starts*/


/* gallery css starts*/

.gallery .gallery-container .section-title{
    font-size: 60px;
    color: #ed1c24;
    font-family: 'Bebas Neue', cursive;
    text-decoration: overline;
    text-decoration-color: #ed1c24;
    margin-left: 630px;
    padding-top: 60px; 
}
.gallery .gallery-container .row{
    margin-left: 40px;
}
.column-1 img{
    margin: 170px 30px;
}
.column-2 img{
    width: 328px; height: 415px;
    margin-top: 100px;
}
.column-3, .column-4{
    display: flex;
    flex-direction: column;
}

.column-3 .column-3-2 img, .column-3-1 img{
    width: 248px;
    height: 248px;
    margin-left: 30px;
    margin-top: 40px;
}

.column-4-1 img{
    width: 426px; height: 188px;
    margin-left: 30px;
    margin-top: 40px;
}

.column-4-2 img{
    margin-left: 30px;
    margin-top: 100px;
}

/* gallery css ends*/

/* reviews css starts*/

.reviews{
    background-image: url(../images/bg.png);
    height: 100vh;
    clip-path: polygon(50% 0%, 80% 10%, 100% 0, 100% 100%, 78% 100%, 50% 100%, 24% 100%, 0 100%, 0 0, 20% 10%);
}

.reviews .reviews-container .section-title{
    font-size: 60px;
    color: #ffffff;
    font-family: 'Bebas Neue', cursive;
    text-decoration: overline;
    text-decoration-color: #ed1c24;
    margin-left: 690px;
    padding-top: 70px; 
    padding-bottom: 30px;
}

.review-column{
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 20%;
}


.review-column-1{
    display: flex;
    flex-direction: row;
}

.review-column h3{
    color: #ffffff;
    font-family: 'Roboto Condensed', sans-serif;
    margin-top: 5px;
}

.review-column .review-rating{
    width: 70px;
    height: 10px;
}

.review-column .row .musk{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-left: 20px;
}

.review-column-1, .review-column-2, .review-column-3{
    border: 2px solid #202133;
    padding: 20px 20px;
    padding-right: 5px;
    width: 450px;
    margin-top: 20px;
    border-radius: 10px;
    background-color: #202133;
}

.review-column .row .stark,.bill-gates,.elon{
    width: 80px;
    height: 81px;
    clip-path: circle(50% at 50% 50%);
}


.reviews .box{
    display: flex;
    flex-direction: row;
}

.reviews .box .slideshow img{
    width: 398px;
    height: 478px;
    margin-left: 350px;
    border: 2px solid #202133;
    border-radius: 20px;
    background-size: cover;
}


/* reviews css ends*/

/* footer css starts*/

.foooter .row{
    display: flex;
    flex-direction: row;
    margin-left: 430px;
    padding: 50px 50px;
}

.foooter .name{
    position: relative; 
    font-family: 'Bebas Neue', cursive;
    font-weight: bold;
    font-size: 100px;
    color: #000000;   
    margin-top: 20px;
}
.foooter .tour{
    color: #ed1c24;
}

.foooter .logo img{
    width: 150px;
    height: 150px;
}

footer{
   
    /* position: fixed; */
    padding: 10px 10px 0px 10px;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: #0B0C10;
    margin-top: 30px;
}

footer .social{
    flex: 0 0 100%;
    max-width: 100%;
    text-align: center;
    padding-top: 10px;
}

footer .social a{
    color: #C5C6C7;
    text-decoration: none;
    display: inline-block;
    margin: 0px 12px;
    padding-bottom: 0px;
}

/* footer css ends*/
