@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mate+SC&family=Odibee+Sans&family=Roboto+Condensed:wght@300&display=swap');
body{
    margin: 0;
    font-family: sans-serif;
}

*{
    box-sizing: border-box;
    margin: 0;
}

.bgImg{
    background-color: #585858;
    background-image: url('../images/bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 800px;
}

/* header section starts */

.container{
    margin: auto;
}
.row{
    display: flex;
    flex-direction: row;
}

.logo img{
    width: 40px;
    height: 40px;
    margin-left: 10px;
    padding: 3px;
}

.rotate {
    animation: rotation 5s infinite linear;
}
  
@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
}
header{
    background-color: transparent;
    position: absolute;
    left: 0px;
    right: 0px;
    z-index: 10;
}

header .fixed{
    background-color: transparent;
    position: fixed;
}
header .row{
    
    align-items: center;
}
header .name{
    margin-right: 800px;   
    position: relative; 
    font-family: 'Bebas Neue', cursive;
    font-weight: bold;
    font-size: 50px;
    color: #ffffff;
}

header .name a{
    color: #ed1c24;
}

header .navbar ul{
    list-style: none;
    padding: 0;
    margin-right: 50px;
}
header .navbar ul li{
    display:  inline-block;
    margin-left: 35px;
}

header .navbar ul li .home{
    color: #ed1c24;
}

header .navbar ul li a{
    font-size: 15px;
    text-decoration: none;
    line-height: 72px;
    color: #ffffff;
    display: block;
    font-family: 'Bebas Neue', cursive;
    font-weight: 300px;
    font-size: 20px;
    position: relative;

}
header .navbar ul li a::before{
    content: '';
    height: 3px;
    background-color:#ed1c24;
    width: 0%;
    position: absolute;
    right: 0px;
    bottom: -1px;
    bottom: -1px;
}

header .navbar ul li a:hover::before{
    width: 100%;
    left: 0;
}

.quote {
    color: #ffffff;
    font-family: 'Orbitron', sans-serif;
    margin-left: 100px;
    margin-top: 50px;
    font-size: 70px;
}

.quote .back{
    color: #ed1c24;
    text-shadow: 2px 2px #ffffff;
}

.quote .and{
    font-family: 'Odibee Sans', cursive;
}

.moon-bg img{
    position: absolute;
    /* right: 0%; */
    transition: transform 3s ease-in;
}

.playingMoon{
    transform: translateX(1050px);
}

.astronaut-bg{
    position: absolute;
    right: 10%;
}

.astronaut-bg img{
    margin-top: 1400px;
    transition: transform 3s ease-in;   
}

.playingAstro{
    transform: translatey(-1400px);
    /* animation: float 12s ease-in-out infinite; */
}

/* @keyframes float {
	0% {
		transform: translatey(0px);
	}
    50%{
        transform: rotateZ(10deg);
    }
	100% {
		transform: translatey(0px);
	}
} */

.exploreBtn {
    background-color: Transparent;
    background-repeat:no-repeat;
    /* border: 2px solid #282f42; */
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    color: #282f42;
    margin-top: 80px;
    font-size: 30px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: lighter;
}

.exploreBtn img{
    border-radius: 50px;
    border: 2px solid #282f42;
}

/* header section ends */

/* Destination css starts*/

.destination{
    padding-top: 120vh;
    margin-bottom: 160px;
}
.destination .destination-container .section-title{
    font-size: 60px;
    color: #ed1c24;
    font-family: 'Bebas Neue', cursive;
    text-decoration: overline;
    text-decoration-color: #ed1c24;
    margin-left: 160px;
}

.image-container{
    margin-left: 150px;
    display: flex;
    flex-direction: row;
}

.image-container figure{
    margin-left: 10px;
}

figcaption{
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
}

.marsG,.jupiterG, .moonG{
    width: 200px;
    height: 180px;
}

/*Moon Overview css starts*/

.moonOverview{
    margin-top: 100px;
}

.outside{
    color: #000000;
    font-size: 120px;
    font-family: 'Bebas Neue', cursive;
    margin-top: 140px;
    margin-left: 160px;
} 

.moonOverview .inside{
   position: absolute;
   width: 750px;
   height: 300px;
   margin-left: 40px;
   z-index: -1;
}

.moonOverview h2{
    color: #000000;
    font-size: 60px;
    font-family: 'Bebas Neue', cursive;
    margin-left: 160px;

}

.moonOverview p{
    color: #8b8b8b;
    font-size: 20px;
    font-family: 'Roboto Condensed', sans-serif;
}

.moonDescription{
    display: flex;
    flex-direction: row;
    margin-left: 160px;
}

.moonDescription .p1,.p2{
    width: 500px;
}    

.moonDescription .p2{
    margin-left: 20px;
}

/*Moon Overview css end*/

/* Mars Overview css starts*/

.marsOverview{
    margin-top: -450px;
}

.outside{
    color: #000000;
    font-size: 80px;
    font-family: 'Bebas Neue', cursive;
    margin-top: 150px;
    margin-left: 160px;
} 

.marsOverview .inside{
   position: absolute;
   width: 770px;
   height: 300px;
   margin-left: 60px;
   z-index: -1;
}

.marsOverview h2{
    color: #000000;
    font-size: 40px;
    font-family: 'Bebas Neue', cursive;
    margin-left: 160px;

}

.marsOverview p{
    color: #8b8b8b;
    font-size: 20px;
    font-family: 'Roboto Condensed', sans-serif;
}

.marsDescription{
    display: flex;
    flex-direction: row;
    margin-left: 160px;
}

.marsDescription .p1,.p2{
    width: 500px;
}    

.marsDescription .p2{
    margin-left: 20px;
}

/* Mars Overview css ends */

/*Jupiter Overview css starts*/

.jupiterOverview{
    margin-top: -420px;
}

.outside{
    color: #000000;
    font-size: 80px;
    font-family: 'Bebas Neue', cursive;
    margin-top: 170px;
    margin-left: 160px;
} 

.jupiterOverview .inside{
   position: absolute;
   width: 770px;
   height: 300px;
   margin-left: 60px;
   z-index: -1;
}

.jupiterOverview h2{
    color: #000000;
    font-size: 40px;
    font-family: 'Bebas Neue', cursive;
    margin-left: 160px;

}

.jupiterOverview p{
    color: #8b8b8b;
    font-size: 20px;
    font-family: 'Roboto Condensed', sans-serif;
}

.jupiterDescription{
    display: flex;
    flex-direction: row;
    margin-left: 160px;
}

.jupiterDescription .p1,.p2{
    width: 500px;
}    

.jupiterDescription .p2{
    margin-left: 20px;
}

/*Jupiter Overview css ends*/

/* Destination css ends*/

/* activity css starts */

.activity{
    height: 100vh;
    background-image: url(../images/bg.png);
    clip-path: polygon(50% 100%, 100% 55%, 100% 0, 0 0, 0 55%);
}

.activity .section-title{
    font-size: 60px;
    color: #efefef;
    font-family: 'Bebas Neue', cursive;
    text-decoration: overline;
    text-decoration-color: #ed1c24;
    margin-left: 530px;
    padding-top: 40px;  
}

#activities-destination{
    text-decoration: overline;
    text-decoration-color: #ed1c24;
}

.activities-overview-1, .activities-overview-2{
    margin: 50px 210px;
}

.activities-overview-1, .activities-overview-2{
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    color: #efefef;
    /* border: 2px solid #8b8b8b; */
}

.activities-overview-1 .landing-tour, .galactic-arcades,.space-bar{
    margin-left: 115px;
    border: 2px solid #202133;
    border-radius: 10%;
    background-color: #202133;
    padding: 20px 20px;
}

.activities-overview-2 .rover-expeditions{
    margin-left: 50px;
    border: 2px solid #202133;
    border-radius: 10%;
    background-color: #202133;
    padding: 20px 20px;
    padding-right: 85px;
}

.activities-overview-2 .space-bar{
    padding-right: 12px;
}

.activities-overview-1 .landing-tour{
    padding-right: 180px;
}

.activities-overview-1 .galactic-arcades{
    margin-left: 50px;
    padding-right: 50px;
}

.activities-overview-1 h3,p ,.activities-overview-2 h3,p{
    color: #507a95;
    font-family: 'Roboto Condensed', sans-serif;
}

.landing-tour, .galactic-arcades , .rover-expeditions, .space-bar{
    display: flex;
    flex-direction: row;
}

.activities-overview-1 h3, .activities-overview-2 h3{
    color: #efefef;
    font-weight: 700;
}

svg{
    margin-right: 10px;
}

.btndiv{
    margin-left: 540px;
    font-family: 'Roboto Condensed', sans-serif;
}

.btndiv .bookbtn, .destinationbtn{
    background-color: #202133;
    font-size: 20px;
    padding: 20px 20px;
    color: #efefef;
    border: 2px solid #202133;
    border-radius: 10px;
}
.btndiv .bookbtn {
    padding-right: 60px;
    padding-left: 60px;
    background-color: #ed1c24;
}

.btndiv .destinationbtn{
    margin-left: 45px;
}


/* activity css ends */
